@use "config/responsive" as r;
@use "common" as c;

html {
  font-size: 62.5%;
}

body {
  width: 100%;
  font-weight: 400;
  height: 1.6;
  color: c.$text-color;
  font-family: "Montserrat", sans-serif;
  font-family: "Noto Sans JP", sans-serif;
}

p {
  font-size: 1.6rem;
}

.wrapper {
  max-width: 1208px;
  text-align: center;
  margin: 0 auto;
  @include r.mq(sp) {
    padding: 0 3%;
  }
}
img {
  width: 100%;
}

.section_title {
  font-size: 3.6rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 38px;
}
